<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
    <% if (useVOTColours) { %>
    <style>
      .cls-1 {
        fill: #fd4453;
      }
    </style>
    <% } else { %>
    <style>
      .cls-1 {
        fill: #a800ff;
      }
    </style>
    <% } %>

    <script>
      setInterval(() => {
        fetch("/scoreoverlay/live")
          .then((res) => {
            return res.json()
          })
          .then((json) => {
            let { scoreOverlay, teamShorts } = json
            document.getElementById("bestOf").innerHTML =
              "BO" + scoreOverlay.mapsToWin
            document.getElementById("rightTeam").innerHTML =
              scoreOverlay.reversed ? teamShorts[0] : teamShorts[1]
            document.getElementById("leftTeam").innerHTML =
              scoreOverlay.reversed ? teamShorts[1] : teamShorts[0]
            document.getElementById("rightScore").innerHTML =
              scoreOverlay.reversed
                ? scoreOverlay.scores[0]
                : scoreOverlay.scores[1]
            document.getElementById("leftScore").innerHTML =
              scoreOverlay.reversed
                ? scoreOverlay.scores[1]
                : scoreOverlay.scores[0]
          })
      }, 1000)
    </script>
    <style>
      .inSvg {
        height: 30px;
        width: 30px;
        padding: 5px;
        background-color: #000;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <svg
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1920 1080"
    >
      <defs>
        <style>
          .cls-2 {
            font-size: 19.16px;
          }

          .cls-2,
          .cls-3 {
            fill: #fff;
            font-family: Poppins-Medium, Poppins;
            font-weight: 500;
          }

          .cls-3 {
            font-size: 26.65px;
          }
        </style>
      </defs>
      <path
        class="cls-1"
        d="M1058,90h-35c-1.65,0-2-1-.88-2.12l31.76-31.76a2.8,2.8,0,0,1,4.11.12l28,31.52c1.09,1.23.64,2.24-1,2.24Z"
      />
      <path
        class="cls-1"
        d="M863,90h35c1.65,0,2-1,.88-2.12L867.12,56.12a2.8,2.8,0,0,0-4.11.12L835,87.76C833.9,89,834.35,90,836,90Z"
      />
      <path
        d="M1016,129H987c-1.65,0-2-.95-.88-2.12l25.76-25.76A8.33,8.33,0,0,1,1017,99h91a3,3,0,0,1,3,3v24a3,3,0,0,1-3,3Z"
      />
      <path
        d="M906,129h29c1.65,0,2-.95.88-2.12l-25.76-25.76A8.33,8.33,0,0,0,905,99H814a3,3,0,0,0-3,3v24a3,3,0,0,0,3,3Z"
      />
      <path
        d="M921,77c-1.65,0-2,1-.88,2.12l20.76,20.76A8.33,8.33,0,0,0,946,102h31a8.33,8.33,0,0,0,5.12-2.12l20.76-20.76c1.17-1.17.77-2.12-.88-2.12Z"
      />
      <text
        id="bestOf"
        class="cls-2"
        text-anchor="middle"
        transform="translate(960 95.63)"
      >
        BO<%= scoreOverlay.mapsToWin %>
      </text>
      <text
        id="rightTeam"
        class="cls-3 rightteam"
        text-anchor="start"
        transform="translate(1012.96 124)"
      >
        <%= scoreOverlay.reversed ? teamShorts[0] : teamShorts[1] %>
      </text>
      <text
        id="leftTeam"
        class="cls-3 leftteam"
        text-anchor="end"
        transform="translate(908 124)"
      >
        <%= scoreOverlay.reversed ? teamShorts[1] : teamShorts[0] %>
      </text>
      <text
        id="leftScore"
        class="cls-3"
        text-anchor="middle"
        transform="translate(865 85.43)"
      >
        <%= scoreOverlay.reversed ? scoreOverlay.scores[1] :
        scoreOverlay.scores[0] %>
      </text>
      <text
        id="rightScore"
        class="cls-3"
        text-anchor="middle"
        transform="translate(1055 85.43)"
      >
        <%= scoreOverlay.reversed ? scoreOverlay.scores[0] :
        scoreOverlay.scores[1] %>
      </text>
      <foreignObject width="40" height="40" x="1090" y="89">
        <img
          class="inSvg"
          src="<%= scoreOverlay.reversed ? '/icons/team0.png' : '/icons/team1.png' %>"
          xmlns="http://www.w3.org/1999/xhtml"
        />
      </foreignObject>
      <foreignObject width="40" height="40" x="790" y="89">
        <img
          class="inSvg"
          src="<%= scoreOverlay.reversed ? '/icons/team1.png' : '/icons/team0.png' %>"
          xmlns="http://www.w3.org/1999/xhtml"
        />
      </foreignObject>
    </svg>
  </body>
</html>
