<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .cls-2,
        .cls-3 {
            color: #fff;
            font-family: Poppins-Regular, Poppins;
            font-weight: 400;
        }

        .cls-3 {
            font-size: 60px;
            line-height: 70px;
            text-align: right;
        }
    </style>
</head>

<body>
    <p class="cls-3"><%= teams[0].toUpperCase() %></p>
    <p class="cls-3">VS</p>
    <p class="cls-3"><%= teams[1].toUpperCase() %></p>
</body>

</html>