<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>error</title>
  <style>
      body {
          margin: 0;
          padding: 0;
          font-family: "Poppins", sans-serif;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }

      h1 {
        font-size: 4em;
      }

      h2 {
        margin-top: -40px;
      }
  </style>
</head>
<body>
    <h1>There was an error.</h1>
    <h2>Check your logs for more details.</h2>
</body>
</html>