.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#m2p {
  text-transform: capitalize;
}

#dark {
  background-color: rgb(36, 36, 36);
}

#dark .ub-color_101840 {
  color: white;
}

#dark .ub-bg_nrwqn2 {
  background-color: rgb(48, 48, 48);
}

#dark .ub-bg-clr_white {
  background-color: rgb(27, 27, 27);
}

#dark .ub-color_474d66 {
  color: rgb(190, 190, 190);
}

#dark .ub-bg_wivy90 {
  background-color: rgb(63, 63, 63);
}

#dark .ub-color_696f8c {
  color: white;
}

#dark .ub-bg-clr_E6E8F0 {
  background-color: rgb(63, 63, 63);
}
